<div>
  <%= (t 'language.title') %>
  <br>  
  <%= link_to (t 'language.en'), current_page_params.merge(locale: 'en') %>
  <br>
  <%= link_to (t 'language.hi'), current_page_params.merge(locale: 'hi') %>
  </ul>
</div>