<div style='float: right'>
  <%= (t 'language.title') %>
  <ul>
    <li><%= link_to (t 'language.en'), current_page_params.merge(locale: 'en') %></li>
    <li><%= link_to (t 'language.hi'), current_page_params.merge(locale: 'hi') %></li>
  </ul>
</div>